.search_header_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 100%;
  background-image: url("../../../../assets//Employee_asserts/application-analytics/application_search_background.png");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  padding: 24px;
  border: 1px solid #DDDDDD;
}

 
/* BLUR LAYER */
.blurOverlay {
  position: fixed;
  inset: 0;
  background: rgba(227, 221, 221, 0.2);
  backdrop-filter: blur(0.8px);
  z-index: 100;
}

/* Ensure search stays above blur so it doesn't get visually blurred */
.searchContainer {
  position: relative; /* so z-index works */
  z-index: 101;
}

/* FILTER ABOVE BLUR (and above search if they overlap) */
.filterWrapper {
  position: absolute;
  top: 180px;        /* adjust to align under search */
  left: 40px;        /* adjust as needed */
  z-index: 102;
}
 